<div class="quiz" *ngIf="quiz && !renderResults">
  <mat-toolbar>
    <h1 class="mat-h1">Question {{currentQuestionIndex + 1}}</h1>
  </mat-toolbar>


  <label id="radio-question-label" class="mat-h2">{{currentQuestion.Question}}</label>
  <mat-radio-group class="select-answer-radio" aria-label="Select an answer" [(ngModel)]="userAnswer">
    <mat-radio-button style="display: block;" *ngFor="let answer of currentQuestion.Choices" value={{answer}}>
      {{answer}} 
    </mat-radio-button> 
  </mat-radio-group>

  <div class="next-page" *ngIf="userAnswer; then next_button else disabled_button"></div>
  <ng-template #next_button>
    <button mat-raised-button (click)="nextOrViewResults()">{{currentQuestionIndex == quiz.length -1 ? 'Show results' : 'Next'}}</button>
  </ng-template>
  <ng-template #disabled_button>
    <button mat-raised-button disabled>{{currentQuestionIndex == quiz.length -1 ? 'Show results' : 'Next'}}</button>
  </ng-template>

</div>

<app-results *ngIf="renderResults" [quizLog]="quizLog"></app-results>