.select-category-radio {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.select-difficulty-radio {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.mat-radio-button {
    margin-left: 5px;
  }

